<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elon.boot.domain.property.model.store.PropertyMapper">

	<insert id="insertProperty" parameterType="com.elon.boot.domain.property.model.vo.Property">
	  <selectKey keyProperty="propertyNo" order="BEFORE" resultType="long">
	    SELECT SEQ_PROPERTY_NO.NEXTVAL FROM DUAL
	  </selectKey>
	  INSERT INTO PROPERTY_TBL (
	    PROPERTY_NO, REALTOR_ID,
	    PROPERTY_NAME, PROPERTY_TYPE,
	    PRICE_TYPE, DEPOSIT, MONTHLY_RENT, MAINTENANCE_FEE, MAINTENANCE_INCL,
	    ROAD_ADDRESS, ADDRESS_DETAIL, PROVINCE, DISTRICT, LATITUDE, LONGITUDE,
	    CONTRACT_AREA, FLOOR, DESCRIPTION, STATUS, CREATED_AT
	  ) VALUES (
	    #{propertyNo}, #{realtorId},
	    #{propertyName}, #{propertyType},
	    #{priceType}, #{deposit}, #{monthlyRent}, #{maintenanceFee}, #{maintenanceIncl},
	    #{roadAddress}, #{addressDetail}, #{province}, #{district}, #{latitude}, #{longitude},
	    #{contractArea}, #{floor}, #{description}, 'ACTIVE', SYSTIMESTAMP
	  )
	</insert>


    <!-- 이미지 INSERT -->
    <insert id="insertPropertyImages">
        <foreach collection="list" item="img" separator=";">
            INSERT INTO PROPERTIES_IMG_TBL (
                IMG_NO, PROPERTY_NO, IMG_PATH, IMG_RENAME, IMG_ORIGINAL_NAME, IMG_ORDER
            ) VALUES (
                SEQ_PROPERTIES_IMG_NO.NEXTVAL,
                #{img.propertyNo},
                #{img.imgPath},
                #{img.imgRename},
                #{img.imgOriginalName},
                #{img.imgOrder}
            )
        </foreach>
    </insert>
</mapper>